@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<title>@ViewBag.Title</title>
<body style="background-color: #ADAEB3; ">
    <main aria-labelledby="title">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-5 col-xl-5">
                    <div class="card shadow p-5 bg-white text-black" style="border-radius: 1rem;">
                        <div class="card-body p-3 text-center">
                            <img src="~/Images/Icons/Logo-Purple.png" alt="Logo" style="max-width: 300px; margin-bottom: 20px;">

                            <h2 class="mb-3">Confirmation Email Sent</h2>
                            <p class="text-black-50 mb-4">Please check your email for a verification code.</p>
                            <a>@Html.ActionLink("Continue", "ResetCodeVerification", "ResetPassword", null, new { @class = "btn mt-3 w-75 text-white", style = "background-color: #7E3F96;" })</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </main>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}