@{
    ViewBag.Title = "Issue Details";
}
<h2>Issue Details</h2>
<div class="card p-3 shadow issue-card">
    <h5 class="card-title">Date</h5>
    <p class="card-text">Lecturer Name</p>
    <p class="card-text">Student Name</p>
    <p class="card-text">Issue</p>
    <p class="card-text">Issue Description</p>
    <p class="card-text">New</p>
</div>
<br />
<p>Select a date:</p>
<input type="date">
<br />
<p>Select time:</p>
<input type="time" />
<br />
<br />
@Html.ActionLink("Book an appointment", "BookAppointment", "AppointmentController", null, htmlAttributes: new { @class = "btn btn-outline-dark" })
