/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.dropdown-item a {
    color: #333;
    text-decoration: none;
}

.font-weight-bold {
    font-weight: bold;
}

#notificationContent {
    overflow-y: visible;
}


#notificationScrollContainer {
    max-height: 250px;
    overflow-y: auto;
}

#notificationScrollContainer.dropdown-item {
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    line-height: 1.3;
}

    #notificationScrollContainer .dropdown-item:not(:last-child) {
        border-bottom: 1px solid #eee;
    }
