
@{
    ViewBag.Title = "Lecturer Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.Title</title>


<body>
    <h1 class="dashboard-title">Lecturer Dashboard</h1>

    <p class="welcome-text">Welcome to the guidance tracker! Here you can monitor students progress, manage tasks, and collaborate with your team.</p>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
