
@{
    ViewBag.Title = "Student Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.Title</title>


<body>
    <h1 class="dashboard-title">Student Dashboard</h1>

    <p class="welcome-text">Welcome to the guidance tracker! Here you can monitor you progress, book appointemnts and collaborate with fellow students..</p>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
