
@{
    ViewBag.Title = "Student Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.Title</title>


<body>

</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
